<section id="profil">
  <div class="profil-container">

    <div class="profil-left">
      <div class="profil-info">
        <div class="avatar-wrapper">
          <img src="https://www.photofunky.net/output/image/d/0/3/5/d0356a/photofunky.gif" alt="Photo de profil" class="profile-img">
        </div>
        <div class="profil-text">
          <h2 class="profil-name">Kyliann MEDERIC</h2>
          <p class="profil-role">Commercial</p>
        </div>
      </div>
    </div>

  </div>
</section>